h1[data-v-90zkjffsx] {
    color: rgb(0, 255, 42);
  }
h1[data-v-4074bgv46] {
    color: red;
  }
button {
    padding: 10px 20px;
    color: black;
    border: none;
    border: 1px solid black;
    border-radius: 5px;
  }
